/*-------COLORS------*/
/*Catppuccin Theme*/
:root {
--Flamingo: #F2CDCD;
--Mauve: #DDB6F2;
--Pink: #F5C2E7;
--Maroon: #E8A2AF;
--Red: #F28FAD;
--Peach: #F8BD96;
--Yellow: #FAE3B0;
--Green: #ABE9B3;
--Teal: #85ddc4; /*#B5E8E0;*/
--Blue: #96CDFB;
--Sky: #89DCEB;
--Black: #131020;
--Blacki: #1A1826;
--Blackii: #1E1E2E;
--Blackiii: #302D41;
--Blackiv: #575268;
--Gray: #6E6C7E;
--Grayi: #988BA2;
--Grayii: #C3BAC6;
--White: #D9E0EE;
--Lavender: #C9CBFF;
--Rosewater: #F5E0DC;
--Dark: #000000;
--Darki: #080A12;
--Blackv: #070911;
--Cyan: #16E0B5;
--Ocean: #4E9AD8;
--Night: #6388CE;
}


#kard {
padding: 30px 30px;
margin: 0 auto;
margin-top: 10px;
background-color:var(--Black);
border-radius: 10px;
box-shadow: 0px 0px 10px 2px var(--Dark);
overflow: hidden;
}
#footer {
padding: 0px 0px;
margin: 0 auto;
margin-top: 10px;
font-size: 75%;
color: var(--Blackv);
}
#footer hl, #footer hl2 { color: var(--Blackv);}
#footer:hover { color: var(--Grayi); }
#footer:hover hl { color: var(--Red); }
#footer:hover hl2 { color: var(--Peach); }
@font-face {
 font-family: jbmono;
 src: url(jbmono.ttf)
}
.card {
font-family: jbmono; font-size: 25px; /* FONT SIZE */
text-align: center; /* ALIGN TEXT */
}
/* STYLE TAGS TO APPEAR WHEN HOVERING OVER TOP OF CARD */
.tags, .deck {
opacity: 100;
font-size: 75%;
width: 60%;
text-align: center;
position: center;
align: center;
top:0;
padding: 5px;
right: 0;
border-radius: 10px;
box-shadow: 1px 1px 10px 2px var(--Dark);
white-space: nowrap;
overflow: hidden;
}
table { border-collapse: collapse; min-width: 70%; align: center; }
.cloze, .cloze b, .cloze u, .cloze i, .cloze hl, .cloze hl2 {
font-weight: bold; }
.tags:hover
{
opacity: 1;
position: fixed;
}
#extra, #extra i { font-style: italic; }
img { display: block;
max-width: 100%;
max-height: none;
margin-left: 25px;
margin: 10px auto 10px auto;
}
.mobile .tags:hover { opacity: 255; position: relative;}
h1, h2, h3, h4, h5 { margin: 1; }
table, th, td { border: 2px solid; border-radius: 12px !important; text-align: center; align: center !important; }
li { list-style: inside; }
hr {border: 2px solid; border-radius: 3px; width: 70%; }
a { text-decoration: none;
font-style: normal;
}
/*------DESKTOP------*/
.card { color: var(--White);
background-color: var(--Darki); }
.cloze, .cloze b, .cloze u, .cloze i, .cloze hl, .cloze hl2, .cloze hl3, .cloze em { color: var(--Yellow) !important; }
.tags { color: var(--Peach); background-color:var(--Black); }
.deck { color: var(--Green); }
#extra, .mobile #extra i { color: var(--Yellow); }
table, th, td, hr { border-color: var(--Grayi); }
a { color: var(--Sky) !important; }
hl { color: var(--Red); }
hl2 { color: var(--Lavender); }
hl3 { color: var(--Green); }
h2 { color: var(--Teal); }
h1 { color: var(--Peach); }
h3 { color: var(--Mauve); }
h4 { color: var(--Peach); }
li b, ol b { color: var(--Sky) !important; }
li ul li b, li ol li b { color: var(--Blue) !important; }
li ul li ul li b, li ol li ol li b { color: var(--Ocean) !important; }
th { color: var(--Sky); }
b { color: var(--Red); }
em { color: var(--Green); }
i { color: var(--Teal); }

/*------DESKTOP------*/
.mobile #kard, .mobile .tags, .mobile .deck { overflow:scroll; }
.mobile .card
{ color: var(--White);
background-color: var(--Darki);
}
.mobile .tags {color: var(--Peach); }